body{
    margin: 0;
    font-family: 'Muli', sans-serif;
}
.header {
align-items: center;
background-color: #000000;
color: white;
display: flex;
height: 100px;
justify-content: space-between;
top: 0px;
width: 100%;
}
.header__img {
margin-left: 30px;
margin-top: 50px;
width: 200px;
}
.signup{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(89,89,89,1) 50%, rgba(125,125,125,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px, 30px;
    min-height: calc(100vh - 200px);
}
.signup__container h2{
    text-align: center;
}
.signup__container{
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.signup__container--form{
    display: flex;
    flex-direction: column;

}
.signup__container--form label{
    font-size: 14px;
}
.signup__container--sign-in{
    font-size: 14px;
    text-align: center;
}
.signup__container--sign-in a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.signup__container--sign-in a:hover{
    text-decoration: underline;
}
.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder{
    color: white;
}

.button{
    background-color: rgba(120,0,0,1);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 40px;
    letter-spacing: 1px;
    margin: 10px 0px;
    
}
.footer{
    background: #7d7d7d;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}